.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

@-webkit-keyframes GradientRun {
  from {
    -webkit-filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Grn {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes GradientRun {
  from {
    -webkit-filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
    transform: rotate(360deg);
  }
}

.ion-listing {
  height: 500px;
}

.Content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 black;
}

@keyframes leftMoveContent {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}

.Content:after {
  animation-name: leftMoveContent;
  animation-duration: 1s;
}

.Content:before {
  left: 0px;
}

@keyframes Slideshow {
  0% {
    background-image: url('src\\Images\\bgl1.jpg');
  }

  10% {
    background-image: url('src\\Images\\bgl2.jpg');
  }

  20% {
    background-image: url('src\\Images\\bgl3.jpg');
  }

  30% {
    background-image: url('src\\Images\\bgl4.jpg');
  }

  40% {
    background-image: url('src\\Images\\bgl5.jpg');
  }

  50% {
    background-image: url('src\\Images\\bgl6.jpg');
  }

  60% {
    background-image: url('src\\Images\\bgl7.jpg');
  }

  70% {
    background-image: url('src\\Images\\bgl8.jpg');
  }

  80% {
    background-image: url('src\\Images\\bgl9.jpg');
  }

  90% {
    background-image: url('src\\Images\\bgl10.jpg');
  }

  100% {
    background-image: url('src\\Images\\bgl11.jpg');
  }
}

.ContentSlide1 {
  width: 100vw;
  height: 100vh;
  animation: Slideshow 40s infinite;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // filter: blur(5px);
}

.HeadTitle {
  position: absolute;
  top: 10px;
  left: auto;
  right: 50%;

}

.player {
  position: absolute;
  top: 15vh;
  left: 35vw;
  background-image: -webkit-linear-gradient(90deg, rgb(0, 158, 250), #7650ff, #5403e9);
  background-blend-mode: darken;
  -webkit-background-clip: background;
  -webkit-back-fill-color: white;
  -webkit-animation-delay: 1s;
  -webkit-animation: Grn 5s infinite linear;
  -webkit-animation-delay: 1s;
  background-clip: background;
  animation-delay: 1s;
  animation: Grn 5s infinite linear;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  z-index: 10;
  // animation: spin 2s infinite;
}

.insideDocu {
  position: absolute;
  top: 8%;
  left: 8%;
  background-image: url('src\\Images\\alt4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  z-index: 20;
  // animation: Grn 5s infinite;
}

.blackbg {
  background-color: #000000;
  color: white;
}

.buttonSplash {
  border-radius: 15px;
  text-decoration: none;
  background-color: #7650ff;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: absolute;
  border: 2px solid rgb(2, 183, 255);
}

.buttonSplash:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonSplash:active {
  background-color: #4f1eff
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  z-index: 100;
  top: 400px;
  left: 400px;
  animation: spin 1s infinite;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: dodgerblue;
  border-bottom-width: 16px;
  border-bottom-style: solid;
  border-bottom-color: dodgerblue;
}

.BigIcon {
  height: 60px;
  width: 60px;
}

// kuddddddddddddddddddddddddddddddj
.vz-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#396362), to(#000000));
  background: -webkit-radial-gradient(circle, #396362, #000000);
  background: -moz-radial-gradient(circle, #396362, #000000);
  background: -ms-radial-gradient(circle, #396362, #000000);
  box-shadow: inset 0 0 160px 0 #000;
  // cursor: pointer;
}

.vz-wrapper.-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: initial;
  width: initial;
  background: transparent;
  box-shadow: none;
  z-index: 300;
}

@media screen and (min-width: 420px) {
  .vz-wrapper {
    box-shadow: inset 0 0 200px 60px #000;
  }
}

.waveform {
  height: 50%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  z-index: 100;
}

#myAudio {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 40vw;
  height: 5vh;
}

.bottomAlign {
  position: absolute;
  bottom: 10%;
  width: 100vw;
  height: 40vh;
  // color: rgba(0, 0, 0, 0.445);)
}
