<ion-content style="width:100%;height:100%;">
  <div class="backgroundDiv">
      <div class="space stars1"></div>
      <div class="space stars2"></div>
      <div class="space stars3"></div>
  </div>
  <div class="flip-box" style="position: absolute;top:0%;">
    <div class="flip-box-inner">
      <div class="flip-box-front">        
      </div>
      <div class="flip-box-back">
        <h2>Back Side</h2>
      </div>
    </div>
  </div>
  <div class="flip-box" style="position: absolute;top:15.7%">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <h2>Front Side</h2>
      </div>
      <div class="flip-box-back">
        <h2>Back Side</h2>
      </div>
    </div>
</div>
  <div class="flip-box-top" style="position:absolute;left:36.3%;top:15.7%">
    <div class="flip-box-top-inner">
      <div class="flip-box-top-front">
        <h2>Front Side</h2>
      </div>
      <div class="flip-box-top-back">
        <h2>Back Side</h2>
      </div>
    </div>
  </div>
  <div class="flip-box-top" style="position:absolute;left:36.3%;top:0%">
    <div class="flip-box-top-inner">
      <div class="flip-box-top-front">
        <h2>Front Side</h2>
      </div>
      <div class="flip-box-top-back">
        <h2>Back Side</h2>
      </div>
    </div>
  </div>
  <div class="flip-box-small" style="position:absolute;left:20.4%;top:0%">
    <div class="flip-box-small-inner">
      <div class="flip-box-small-front">
        <p>Front Side</p>
      </div>
      <div class="flip-box-small-back">
        <p>Back Side</p>
      </div>
    </div>
  </div>
  <div class="flip-box-small" style="position:absolute;left:20.4%;top:15.7%">
    <div class="flip-box-small-inner">
      <div class="flip-box-small-front">
        <p>Front Side</p>
      </div>
      <div class="flip-box-small-back">
        <p>Back Side</p>
      </div>
    </div>
  </div>
  <div class="flip-box-small" style="position:absolute;left:28.3%;top:15.7%">
    <div class="flip-box-small-inner">
      <div class="flip-box-small-front">
        <h2>Front Side</h2>
      </div>
      <div class="flip-box-small-back">
        <h2>Back Side</h2>
      </div>
    </div>
  </div>
  <div class="flip-box-small" style="position:absolute;left:28.3%;top:0%">
    <div class="flip-box-small-inner">
      <div class="flip-box-small-front">
        <h2>Front Side</h2>
      </div>
      <div class="flip-box-small-back">
        <h2>Back Side</h2>
      </div>
    </div>
  </div>
  <div class="flip-box-wide-top" style="position:absolute;left:66.6%;top:0%">
    <div class="flip-box-wide-top-inner">
      <div class="flip-box-wide-top-front">
        <h2>Front Side</h2>
      </div>
      <div class="flip-box-wide-top-back">
        <h2>Back Side Panel</h2>
      </div>
    </div>
  </div>
  <div class="flip-box-small" style="position:absolute;right:0%;left:93%;top:0%">
    <div class="flip-box-small-inner">
      <div class="flip-box-small-front">
        <p>Front Side</p>
      </div>
      <div class="flip-box-small-back">
        <p>Back Side</p>
      </div>
    </div>
  </div>
  <div class="flip-box-small" style="position:absolute;right:0%;left:93%;top:15.7%">
    <div class="flip-box-small-inner">
      <div class="flip-box-small-front">
        <p>Front Side</p>
      </div>
      <div class="flip-box-small-back">
        <p>Back Side</p>
      </div>
    </div>
  </div>
</ion-content>